/ { behaviors {
	slad: adaptive_l {
		compatible = "zmk,behavior-sticky-key";
		label = "SL_AL";
		quick-release;
		#binding-cells = <1>;
		release-after-ms = <ADAPTIVE_DELAY>;
		bindings = <&mo>;
	};

	ZMK_MACRO(ak_Q,
		bindings = <&kp Q &slad AL_Q>;
	)

	ZMK_MACRO(ak_W,
		bindings = <&kp W &slad AL_W>;
	)

	ZMK_MACRO(ak_E,
		bindings = <&kp E &slad AL_E>;
	)

	ZMK_MACRO(ak_R,
		bindings = <&kp R &slad AL_R>;
	)

	ZMK_MACRO(ak_O,
		bindings = <&kp O &slad AL_O>;
	)

	ZMK_MACRO(ak_P,
		bindings = <&kp P &slad AL_P>;
	)

	ZMK_MACRO(ak_SEMI,
		bindings = <&kp SEMI &slad AL_SEMI>;
	)

	ZMK_MACRO(ak_Z,
		bindings = <&kp Z &slad AL_Z>;
	)

	ZMK_MACRO(ak_X,
		bindings = <&kp X &slad AL_X>;
	)

	ZMK_MACRO(ak_C,
		bindings = <&kp C &slad AL_C>;
	)

	ZMK_MACRO(ak_M,
		bindings = <&kp M &slad AL_M>;
	)

	ZMK_MACRO(ak_FSLH,
		bindings = <&kp FSLH &slad AL_FSLH>;
	)

	ZMK_MACRO(ak_DOT,
		bindings = <&kp DOT &slad AL_DOT>;
	)

	ZMK_MACRO(m_dba,
		bindings = <&kp BSPC &kp B &kp A>;
	)

	ZMK_MACRO(m_dbc,
		bindings = <&kp BSPC &kp B &kp C>;
	)

	ZMK_MACRO(m_ddw,
		bindings = <&kp BSPC &kp D &kp W>;
	)

	ZMK_MACRO(m_djm,
		bindings = <&kp BSPC &kp J &kp M>;
	)

	ZMK_MACRO(m_dge,
		bindings = <&kp BSPC &kp G &kp E>;
	)

	ZMK_MACRO(m_dgc,
		bindings = <&kp BSPC &kp G &kp C>;
	)

	ZMK_MACRO(m_dvy,
		bindings = <&kp BSPC &kp V &kp Y>;
	)

	ZMK_MACRO(m_dga,
		bindings = <&kp BSPC &kp G &kp A>;
	)

	ZMK_MACRO(m_dg_gr,
		bindings = <&kp BSPC &kp G &kp GRAVE>;
	)

	ZMK_MACRO(m_dkk,
		bindings = <&kp BSPC &kp Y>;
	)

	ZMK_MACRO(m_dqt,
		bindings = <&kp BSPC &kp SQT>;
	)

	ZMK_MACRO(m_mk,
		bindings = <&kp M &kp K>;
	)
	
	ZMK_MACRO(eq_sum,
		bindings = <&kp RBKT &kp S &kp U &kp M &kp MINUS>;
	)

	hms_m_dot: homerow_mod_w_macro {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MOD_SLOW_W_MACRO";
		#binding-cells = <2>;
		tapping-term-ms = <220>;
		quick-tap-ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&ak_DOT>;
	};

	hms_m_m: homerow_mod_m_macro {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MOD_SLOW_M_MACRO";
		#binding-cells = <2>;
		tapping-term-ms = <220>;
		quick-tap-ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&ak_M>;
	};

	hms_m_x: homerow_mod_x_macro {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MOD_SLOW_X_MACRO";
		#binding-cells = <2>;
		tapping-term-ms = <220>;
		quick-tap-ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&ak_X>;
	};
	
	hms_m_c: homerow_mod_c_macro {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MOD_SLOW_C_MACRO";
		#binding-cells = <2>;
		tapping-term-ms = <220>;
		quick-tap-ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&ak_C>;
	};
}; };
