#define ADAPTIVE_DELAY 200
#define ADAPTIVE_DELAY_FAST 155
#define FT 20


#define ZMK_MACRO_VF(name,...) \
	name: name { \
			compatible = "zmk,behavior-macro"; \
			#binding-cells = <0>; \
			wait-ms = <0>; \
			tap-ms = <10>; \
			__VA_ARGS__ \
		};

#define ZMK_MACRO_F(name,...) \
	name: name { \
			compatible = "zmk,behavior-macro"; \
			#binding-cells = <0>; \
			wait-ms = <10>; \
			tap-ms = <10>; \
			__VA_ARGS__ \
		};


#define AD_SNAME(x) ad ## x
#define AD_LNAME(x) adapt ## x

#define ZMK_ADAPTIVE(the_key,...) \
	AD_SNAME(the_key): AD_LNAME(the_key) { \
		compatible = "zmk,behavior-antecedent-morph"; \
		#binding-cells = <0>; \
		max-delay-ms = <ADAPTIVE_DELAY>; \
		__VA_ARGS__ \
	};


/ { behaviors {
	ZMK_ADAPTIVE(_Q,
		defaults = <&kp Q>;
		antecedents = <E M>;
		bindings = <&kp G>, <&kp G>;
        )

	ZMK_ADAPTIVE(_W,
		defaults = <&kp W>;
		antecedents = <Q E>;
		bindings = <&m_dqt>, <&m_ddw>;
        )

	ZMK_ADAPTIVE(_E,
		defaults = <&kp E>;
		antecedents = <Q W R>;
		bindings = <&m_dge>, <&m_dkk>, <&kp C>;
        )

	ZMK_ADAPTIVE(_O,
		defaults = <&kp O>;
		antecedents = <I P U>;
		bindings = <&m_mk>, <&kp L>, <&kp M>;
        )

	ZMK_ADAPTIVE(_U,
		defaults = <&kp U>;
		antecedents = <O>;
		bindings = <&kp M>;
        )

	ZMK_ADAPTIVE(_I,
		defaults = <&kp I>;
		antecedents = <O>;
		bindings = <&m_mk>;
        )

	ZMK_ADAPTIVE(_P,
		defaults = <&kp P>;
		antecedents = <O>;
		bindings = <&kp L>;
        )

	ZMK_ADAPTIVE(_A,
		defaults = <&kp A>;
		antecedents = <SEMI FSLH>;
		bindings = <&m_dga>, <&m_dba>;
        )

	ZMK_ADAPTIVE(_S,
		defaults = <&kp S>;
		antecedents = <FSLH>;
		bindings = <&m_dbs>;
        )

	ZMK_ADAPTIVE(_SEMI,
		defaults = <&kp SEMI>;
		antecedents = <E>;
		bindings = <&m_gc>;
        )

	ZMK_ADAPTIVE(_Z,
		defaults = <&kp Z>;
		antecedents = <X C>;
		bindings = <&m_dvy>, <&kp G>;
        )

	ZMK_ADAPTIVE(_C,
		defaults = <&kp C>;
		antecedents = <Z FSLH>;
		bindings = <&m_dgc>, <&m_dbc>;
        )

	ZMK_ADAPTIVE(_M,
		defaults = <&kp M>;
		antecedents = <FSLH>;
		bindings = <&m_djm>
        )

	ZMK_ADAPTIVE(_FSLH,
		defaults = <&kp FSLH>;
		antecedents = <E Z M DOT>;
		bindings = <&kp B>, <&kp B>, <&kp J>, <&kp L>;
        )


	hms_m_x: homerow_mod_x_macro {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MOD_SLOW_X_MACRO";
		#binding-cells = <2>;
		tapping-term-ms = <200>;
		quick-tap-ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&ad_X>;
	};
	
	hm_m_c: homerow_mod_c_macro {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MOD_SLOW_C_MACRO";
		#binding-cells = <2>;
		tapping-term-ms = <160>;
		quick-tap-ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&ad_C>;
	};


	hms_m_m: homerow_mod_m_macro {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MOD_SLOW_M_MACRO";
		#binding-cells = <2>;
		tapping-term-ms = <220>;
		quick-tap-ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&ad_M>;
	};

	hms_m_dot: homerow_mod_w_macro {
		compatible = "zmk,behavior-hold-tap";
		label = "HOMEROW_MOD_SLOW_W_MACRO";
		#binding-cells = <2>;
		tapping-term-ms = <240>;
		quick-tap-ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&ad_DOT>;
	};

	hms_m_lsrs: lsrs_m_macro {
		compatible = "zmk,behavior-hold-tap";
		label = "LSRS_SLOW_M_MACRO";
		#binding-cells = <2>;
		tapping-term-ms = <220>;
		quick-tap-ms = <0>;
		flavor = "balanced";
		bindings = <&kp>, <&m_ls_rs>;
	};


	ZMK_MACRO_F(m_dba,
		bindings = <&kp BSPC &kp B &kp A>;
	)

	ZMK_MACRO_F(m_dbc,
		bindings = <&kp BSPC &kp B &kp C>;
	)
	
	ZMK_MACRO_F(m_dbs,
		bindings = <&kp BSPC &kp B &kp S>;
	)

	ZMK_MACRO_F(m_ddw,
		bindings = <&kp BSPC &kp D &kp W>;
	)

	ZMK_MACRO_F(m_dg_gr,
		bindings = <&kp BSPC &kp G &kp GRAVE>;
	)

	ZMK_MACRO_F(m_dga,
		bindings = <&macro_tap_time 1>
			, <&macro_wait_time FT>
			, <&kp BSPC &kp G &kp A>;
	)

	ZMK_MACRO_F(m_dgc,
		bindings = <&kp BSPC &kp G &kp C>;
	)

	ZMK_MACRO_F(m_dge,
		bindings = <&kp BSPC &kp G &kp E>;
	)

	ZMK_MACRO_F(m_djm,
		bindings = <&kp BSPC &kp J &kp M>;
	)

	ZMK_MACRO_F(m_dkk,
		bindings = <&kp BSPC &kp Y>;
	)

	ZMK_MACRO_F(m_dqt,
		bindings = <&kp BSPC &kp SQT>;
	)

	ZMK_MACRO_F(m_dvy,
		bindings = <&kp BSPC &kp V &kp Y>;
	)

	ZMK_MACRO_F(m_gc,
		bindings = <&kp G &kp C>;
	)

	ZMK_MACRO_F(m_mk,
		bindings = <&kp M &kp K>;
	)
}; };
