#include <physical_layouts.dtsi>

/ {
    physical_layout: physical_layout0 {
        compatible = "zmk,physical-layout";
        display-name = "default transform";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0   38       0     0     0>
            , <&key_physical_attrs 100 100  100   38       0     0     0>
            , <&key_physical_attrs 100 100  200    0       0     0     0>
            , <&key_physical_attrs 100 100  300    0       0     0     0>
            , <&key_physical_attrs 100 100  400   13       0     0     0>
            , <&key_physical_attrs 100 100  500   13       0     0     0>
            , <&key_physical_attrs 100 100  900   13       0     0     0>
            , <&key_physical_attrs 100 100 1000   13       0     0     0>
            , <&key_physical_attrs 100 100 1100    0       0     0     0>
            , <&key_physical_attrs 100 100 1200    0       0     0     0>
            , <&key_physical_attrs 100 100 1300   38       0     0     0>
            , <&key_physical_attrs 100 100 1400   38       0     0     0>
            , <&key_physical_attrs 100 100    0  138       0     0     0>
            , <&key_physical_attrs 100 100  100  138       0     0     0>
            , <&key_physical_attrs 100 100  200  100       0     0     0>
            , <&key_physical_attrs 100 100  300  100       0     0     0>
            , <&key_physical_attrs 100 100  400  113       0     0     0>
            , <&key_physical_attrs 100 100  500  113       0     0     0>
            , <&key_physical_attrs 100 100  900  113       0     0     0>
            , <&key_physical_attrs 100 100 1000  113       0     0     0>
            , <&key_physical_attrs 100 100 1100  100       0     0     0>
            , <&key_physical_attrs 100 100 1200  100       0     0     0>
            , <&key_physical_attrs 100 100 1300  138       0     0     0>
            , <&key_physical_attrs 100 100 1400  138       0     0     0>
            , <&key_physical_attrs 100 100    0  238       0     0     0>
            , <&key_physical_attrs 100 100  100  238       0     0     0>
            , <&key_physical_attrs 100 100  200  200       0     0     0>
            , <&key_physical_attrs 100 100  300  200       0     0     0>
            , <&key_physical_attrs 100 100  400  213       0     0     0>
            , <&key_physical_attrs 100 100  500  213       0     0     0>
            , <&key_physical_attrs 100 100  900  213       0     0     0>
            , <&key_physical_attrs 100 100 1000  213       0     0     0>
            , <&key_physical_attrs 100 100 1100  200       0     0     0>
            , <&key_physical_attrs 100 100 1200  200       0     0     0>
            , <&key_physical_attrs 100 100 1300  238       0     0     0>
            , <&key_physical_attrs 100 100 1400  238       0     0     0>
            , <&key_physical_attrs 100 100  200  300       0     0     0>
            , <&key_physical_attrs 100 100  300  300       0     0     0>
            , <&key_physical_attrs 100 100 1100  300       0     0     0>
            , <&key_physical_attrs 100 100 1200  300       0     0     0>
            , <&key_physical_attrs 100 150  300  338    1500   402   790>
            , <&key_physical_attrs 100 150  400  338    1500   502   790>
            , <&key_physical_attrs 100 150 1000  338 (-1500)  1002   790>
            , <&key_physical_attrs 100 150 1100  338 (-1500)  1102   790>
            , <&key_physical_attrs 100 100  500  500       0     0     0>
            , <&key_physical_attrs 100 100  600  500       0     0     0>
            , <&key_physical_attrs 100 100  800  500       0     0     0>
            , <&key_physical_attrs 100 100  900  500       0     0     0>
            , <&key_physical_attrs 100 100  500  600       0     0     0>
            , <&key_physical_attrs 100 100  600  600       0     0     0>
            , <&key_physical_attrs 100 100  800  600       0     0     0>
            , <&key_physical_attrs 100 100  900  600       0     0     0>
            ;
    };

    position_map {
        compatible = "zmk,physical-layout-position-map";

        complete;

        default_transform {
            physical-layout = <&physical_layout>;
            positions = <>;
        };
    };
};
